$background-wrapper-Color: #f5f5f7;
$text-color: #333333;
$color-00bc3c: #00bc3c;
$color-29ab56: #29ab56;
$color-008129: #008129;

.background-wrapper {
  background-color: $background-wrapper-Color;
}

.search-body-wrapper {
}
